.details-content
  margin-top 50px

  // icons
  :global .fa-plane
    color #b7c9d3
    margin-right 20px
  :global .fa-clock-o
    margin-right 20px
    color #b7c9d3
  :global .fa-map-marker
    margin-right 20px
    vertical-align top
    min-width 22px
  :global .fa-home
    margin-right 20px
    color #b7c9d3
  :global .fa-car
    margin-right 20px
    color #b7c9d3

  .event-title
    font-size 36px
    margin-bottom 35px
    font-weight bold
    color #414141

  .item-row
    margin-bottom 15px
    font-size 24px
    color #768692

  .row
    display flex
    flex-direction row
    width 100%

    .coll
      display flex
      flex-direction column

  .dates-location
    color #768692
    font-size 24px

    .date
      margin-bottom 15px

  .image
    display flex
    align-items center

  .description
    color #768692
    font-size 16px

  .plane-details, .car-details
    margin-top 25px
    color #b7c9d3
    font-size 16px
    font-weight normal

  .widget-details
    padding 25px 0
    font-size 14px

    .coll-l
      flex 0.8
      min-width 820px
      padding-right 30px

    .coll-r
      flex 0.2
      min-width 205px

    .widget-item
      display flex
      padding-bottom 10px
      margin-bottom 10px
      border-bottom 1px dashed #dcdcdc
      width 100%

      &:last-child
        padding-bottom 0
        margin-bottom 0
        border-bottom 0

.car-info
  margin-left 20px
  color #768692

  .item-row
    margin-bottom 10px
    font-size 16px

    .title
      font-size 24px


.flight-info
  :global .fa-plane
    margin-right 10px

.hotel-info
  :global .fa-home
    margin-right 10px

.car-info
  :global .fa-car
    margin-right 10px
  :global
    .fa-snowflake-o, .fa-user
      margin-right 10px

.rate
  color #b7c9d3
  opacity 0.7
  margin-left 45px
  margin-top 10px
  font-size 16px

.price
  font-size 54px
  display inline-block
  font-weight bold
  padding-bottom 5px
  color #b7c9d3

.period
  color #b7c9d3
  margin-right 15px

.discount
  color #768692

.image-icon
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  border solid 1px rgba(183, 201, 211, 0.2)

.location
  margin-bottom 25px
  cursor pointer
  color #b7c9d3
  &:hover
    color #F7584C

  span
    width calc(100% - 45px)
    color #768692
    display inline-block