.title--2CqS3 {
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  font-size: 18px;
  font-weight: bold;
}
.title--CQfVT {
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  font-size: 18px;
  font-weight: bold;
}
.app-content--24a8P header {
  width: 100%;
  color: #fff;
  position: fixed;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  height: 45px;
  padding-left: 15px;
  margin: 0;
  background-color: #279cdc;
  border-bottom: 1px solid #6cccff;
  z-index: 99999;
}
.app-content--24a8P main {
  padding: 45px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100%;
  max-width: 1140px;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
}
.app-content--24a8P footer {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  bottom: 0;
  height: 45px;
  background-color: #f1f1f1;
  border-top: 1px solid #c1c0c0;
}
.event-items--wnNvs {
  margin-top: 65px;
}
.event-items--wnNvs .items-bar--my0rR {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #b7c9d3;
}
.event-items--wnNvs .items-bar--my0rR .list--4IsCu {
  color: #b7c9d3;
  text-transform: uppercase;
  padding-right: 5px;
}
.event-items--wnNvs .items-bar--my0rR .count--1LouX {
  color: #768692;
}
.event-items--wnNvs .row--3JxQ3 {
  border-bottom: 1px solid #b7c9d3;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 24px 0;
  cursor: pointer;
}
.event-items--wnNvs .row--3JxQ3:hover {
  background-color: #f7f7f7;
}
.event-items--wnNvs .row--3JxQ3 img {
  border: 1px solid #e6e6e6;
}
.event-items--wnNvs .row--3JxQ3 .info--uTNfD {
  max-width: calc(100% - 145px);
  margin-left: 20px;
}
.event-items--wnNvs .row--3JxQ3 .info--uTNfD .event-name--nOU-X {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.33;
  color: #414141;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  word-wrap: break-word;
}
.event-items--wnNvs .row--3JxQ3 .info--uTNfD .date--3vgKQ {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #7a7a7a;
}
.event-items--wnNvs .row--3JxQ3 .info--uTNfD .location--12Itg {
  font-size: 24px;
  color: #414141;
}
.app-title--2a5CD {
  font-size: 54px;
  font-weight: 900;
  color: #414141;
  margin-top: 15px;
  line-height: 1.19;
  margin-bottom: 30px;
  text-align: left;
}
.link--2sXLf {
  font-size: 16px;
  line-height: 1.5%;
  color: #009cde;
  text-decoration: none;
}
.link--2sXLf:hover {
  color: #67bcff;
}
.mrg-r-30--2u1lc {
  margin-right: 30px;
}
.mrg-t-50--3k3aE {
  margin-top: 50px;
}
.pd-t-25--1vjc0 {
  padding-top: 25px;
}
.value--3iO3s {
  color: #768692;
  font-size: 16px;
  font-weight: normal;
  text-align: right;
}
.btn-primary--2Ziis {
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  min-width: 165px;
  color: #fff;
  background-color: #009cde;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 12px;
  margin-bottom: 0;
}
.btn-primary--2Ziis:focus {
  background-color: #286090;
  outline: 0;
  border-color: #122b40;
}
.btn-reserve--2JrPG {
  border: 2px solid #b7c9d3;
  width: 100%;
  background: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  border-radius: 4px;
  height: 48px;
  color: #b7c9d3;
}
.btn-reserve--2JrPG:hover {
  background-color: #f9f9f9;
}
.btn-reserve--2JrPG:focus {
  background-color: #286090;
  outline: 0;
  border-color: #122b40;
}
.error-msg--29MiF {
  color: #f7584c;
  font-size: 18px;
}
.search-bar--2tm-R {
  margin: 50px 0;
}
.search-bar--2tm-R .search-row--3CESb {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-bottom: 40px;
}
.search-bar--2tm-R .search-row--3CESb .input-search--aeIUR {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0.9;
  -ms-flex: 0.9;
  flex: 0.9;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-right: 30px;
}
.search-bar--2tm-R .search-row--3CESb .input-search--aeIUR input {
  width: 100%;
  height: 30px;
  padding: 8px 12px;
  border-radius: 4px;
  border: solid 1px rgba(122,136,148,0.7);
}
.search-bar--2tm-R .search-row--3CESb .input-search--aeIUR input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
.search-bar--2tm-R .search-row--3CESb .search-btn--WVxpb {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0.1;
  -ms-flex: 0.1;
  flex: 0.1;
}
.row--1bDIi {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
}
.event-widget--1Uk4S {
  width: 100%;
  margin-top: 15px;
}
.event-widget--1Uk4S .coll-l--2D0An {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8;
  min-width: 820px;
}
.event-widget--1Uk4S .coll-r--jPmEI {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0.2;
  -ms-flex: 0.2;
  flex: 0.2;
  min-width: 205px;
}
.event-widget--1Uk4S .header--1lOYP {
  border-bottom: 1px solid #b7c9d3;
  font-weight: bold;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.event-widget--1Uk4S .header--1lOYP .title--9F2im {
  color: #b7c9d3;
  text-transform: uppercase;
  font-size: 16px;
}
.event-widget--1Uk4S .header--1lOYP .price--2rgfF {
  color: #b7c9d3;
  font-size: 16px;
  font-weight: normal;
}
.event-widget--1Uk4S .body--39reI {
  position: relative;
  min-height: 60px;
}
.image--3BBMA {
  border: 1px solid #dcdcdc;
}
.details-content--2x0jU {
  margin-top: 50px;
}
.details-content--2x0jU .fa-plane {
  color: #b7c9d3;
  margin-right: 20px;
}
.details-content--2x0jU .fa-clock-o {
  margin-right: 20px;
  color: #b7c9d3;
}
.details-content--2x0jU .fa-map-marker {
  margin-right: 20px;
  vertical-align: top;
  min-width: 22px;
}
.details-content--2x0jU .fa-home {
  margin-right: 20px;
  color: #b7c9d3;
}
.details-content--2x0jU .fa-car {
  margin-right: 20px;
  color: #b7c9d3;
}
.details-content--2x0jU .event-title--2x0Qi {
  font-size: 36px;
  margin-bottom: 35px;
  font-weight: bold;
  color: #414141;
}
.details-content--2x0jU .item-row--h9fhN {
  margin-bottom: 15px;
  font-size: 24px;
  color: #768692;
}
.details-content--2x0jU .row--1OEjO {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}
.details-content--2x0jU .row--1OEjO .coll--3wgWe {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.details-content--2x0jU .dates-location--zxZLU {
  color: #768692;
  font-size: 24px;
}
.details-content--2x0jU .dates-location--zxZLU .date--2a4EH {
  margin-bottom: 15px;
}
.details-content--2x0jU .image--3FuhL {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.details-content--2x0jU .description--3fone {
  color: #768692;
  font-size: 16px;
}
.details-content--2x0jU .plane-details--1abq3,
.details-content--2x0jU .car-details--349rU {
  margin-top: 25px;
  color: #b7c9d3;
  font-size: 16px;
  font-weight: normal;
}
.details-content--2x0jU .widget-details--BIXnC {
  padding: 25px 0;
  font-size: 14px;
}
.details-content--2x0jU .widget-details--BIXnC .coll-l--2PvAk {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8;
  min-width: 820px;
  padding-right: 30px;
}
.details-content--2x0jU .widget-details--BIXnC .coll-r--RsC6f {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0.2;
  -ms-flex: 0.2;
  flex: 0.2;
  min-width: 205px;
}
.details-content--2x0jU .widget-details--BIXnC .widget-item--2GyGS {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #dcdcdc;
  width: 100%;
}
.details-content--2x0jU .widget-details--BIXnC .widget-item--2GyGS:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
.car-info--ehRK5 {
  margin-left: 20px;
  color: #768692;
}
.car-info--ehRK5 .item-row--h9fhN {
  margin-bottom: 10px;
  font-size: 16px;
}
.car-info--ehRK5 .item-row--h9fhN .title--1lF5q {
  font-size: 24px;
}
.flight-info--3p1YV .fa-plane {
  margin-right: 10px;
}
.hotel-info--kmVJJ .fa-home {
  margin-right: 10px;
}
.car-info--ehRK5 .fa-car {
  margin-right: 10px;
}
.car-info--ehRK5 .fa-snowflake-o,
.car-info--ehRK5 .fa-user {
  margin-right: 10px;
}
.rate--3IMvP {
  color: #b7c9d3;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  margin-left: 45px;
  margin-top: 10px;
  font-size: 16px;
}
.price--2FOOW {
  font-size: 54px;
  display: inline-block;
  font-weight: bold;
  padding-bottom: 5px;
  color: #b7c9d3;
}
.period--3EDn9 {
  color: #b7c9d3;
  margin-right: 15px;
}
.discount--2o_Xy {
  color: #768692;
}
.image-icon--15oWq {
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px rgba(183,201,211,0.2);
}
.location--1jfr1 {
  margin-bottom: 25px;
  cursor: pointer;
  color: #b7c9d3;
}
.location--1jfr1:hover {
  color: #f7584c;
}
.location--1jfr1 span {
  width: calc(100% - 45px);
  color: #768692;
  display: inline-block;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJjb21tb24uY3NzIiwic291cmNlUm9vdCI6IiJ9*/