.title--2CqS3 {
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  font-size: 18px;
  font-weight: bold;
}
.title--CQfVT {
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  font-size: 18px;
  font-weight: bold;
}
.app-content--24a8P header {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 45px;
  margin: 0;
  background-color: #f1f1f1;
  border-bottom: 1px solid #c1c0c0;
}
.app-content--24a8P main {
  padding: 45px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
}
.app-content--24a8P footer {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  bottom: 0;
  height: 45px;
  background-color: #f1f1f1;
  border-top: 1px solid #c1c0c0;
}
.event-items--wnNvs {
  margin-top: 65px;
}
.event-items--wnNvs .row--3JxQ3 {
  border-bottom: 1px solid #b6b6b6;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 5px 30px;
  cursor: pointer;
}
.event-items--wnNvs .row--3JxQ3:hover {
  background-color: #ececec;
}
.event-items--wnNvs .row--3JxQ3 img {
  border: 1px solid #9e9e9e;
  border-radius: 3px;
}
.event-items--wnNvs .row--3JxQ3 .event-name--nOU-X {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
}
.search-bar--2tm-R {
  position: fixed;
  top: 46px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 15px 30px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #b3b3b3;
}
.search-bar--2tm-R .input-search--aeIUR {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0.7;
  -ms-flex: 0.7;
  flex: 0.7;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-right: 10px;
}
.search-bar--2tm-R .input-search--aeIUR input {
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.search-bar--2tm-R .input-search--aeIUR input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
.search-bar--2tm-R .search-btn--WVxpb {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0.3;
  -ms-flex: 0.3;
  flex: 0.3;
}
.search-bar--2tm-R .search-btn--WVxpb button {
  width: 100%;
  margin-right: 35px;
  min-width: 135px;
  color: #fff;
  background-color: #337ab7;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 12px;
  margin-bottom: 0;
}
.search-bar--2tm-R .search-btn--WVxpb button:focus {
  background-color: #286090;
  outline: 0;
  border-color: #122b40;
}
.row--1bDIi {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
}
.details-content--2x0jU {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 15px;
}
.details-content--2x0jU .item-row--h9fhN {
  margin-bottom: 5px;
}
.details-content--2x0jU .row--1OEjO {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}
.details-content--2x0jU .title--1lF5q {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
}
.details-content--2x0jU .image--3FuhL {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.details-content--2x0jU .description--3fone {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-top: 10px;
  padding: 15px 10px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid #dcdcdc;
  border-left: 4px solid #ffcd00;
}
.details-content--2x0jU .widget-section--YKA90 {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  margin-bottom: 20px;
}
.details-content--2x0jU .widget-section--YKA90 .title--1lF5q {
  margin-left: 20px;
}
.details-content--2x0jU .widget-section--YKA90 .widget-details--BIXnC {
  padding: 5px 15px;
  font-size: 14px;
}
.details-content--2x0jU .widget-section--YKA90 .widget-details--BIXnC .widget-item--2GyGS {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
}
.details-content--2x0jU .widget-section--YKA90 .widget-details--BIXnC .widget-item--2GyGS:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
.hotel-info--kmVJJ,
.flight-info--3p1YV,
.car-info--ehRK5 {
  margin-left: 15px;
  color: #5b5b5b;
  width: 100%;
}
.flight-info--3p1YV .fa-plane {
  margin-right: 10px;
}
.hotel-info--kmVJJ .fa-home {
  margin-right: 10px;
}
.car-info--ehRK5 .fa-car {
  margin-right: 10px;
}
.car-info--ehRK5 .fa-snowflake-o,
.car-info--ehRK5 .fa-user {
  margin-right: 10px;
}
.rate--3IMvP {
  color: #fd9600;
  margin-left: 10px;
}
.price--2FOOW {
  font-size: 18px;
  color: #0795be;
  margin-right: 10px;
}
.air-img--3TX7k {
  min-width: 120px;
  width: 120px;
  height: 120px;
  background-image: url("https://pbs.twimg.com/profile_images/635867807981379584/sA1V-rRi_400x400.jpg");
  background-position: 50% 50%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #101010;
  border-radius: 3px;
}
.image-icon--15oWq {
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #101010;
  border-radius: 3px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJjb21tb24uY3NzIiwic291cmNlUm9vdCI6IiJ9*/