.event-widget
  width 100%
  margin-top 15px

  .coll-l
    flex 0.8
    min-width 820px

  .coll-r
    flex 0.2
    min-width 205px

  .header
    border-bottom 1px solid #b7c9d3
    font-weight bold
    display flex

    .title
      color #b7c9d3
      text-transform uppercase
      font-size 16px

    .price
      color #b7c9d3
      font-size 16px
      font-weight normal