.event-items
  margin-top 65px

  .items-bar
    font-size 16px
    font-weight bold
    padding-bottom 5px
    border-bottom 1px solid #b7c9d3

    .list
      color #b7c9d3
      text-transform uppercase
      padding-right 5px
    .count
      color #768692

  .row
    border-bottom 1px solid #b7c9d3
    align-items flex-start
    display flex
    padding 24px 0
    min-height 210px
    cursor pointer

    &:hover
      background-color #f7f7f7

    img
      border 1px solid #e6e6e6

    .info
      max-width calc(100% - 165px)
      margin-left 20px

      .event-name
        font-size 36px
        margin-bottom 10px
        font-weight bold
        line-height 1.33
        color #414141
        text-overflow ellipsis
        overflow hidden
        max-width 100%
        white-space nowrap
        word-wrap break-word

      .event-price-range
        font-size 18px
        font-weight bold
        color #26c135
        margin-bottom 5px

      .date
        font-size 24px
        font-weight bold
        margin-bottom 15px
        color #7A7A7A

      .location
        font-size 24px
        color #414141